venv
routine-system-tracker-firebase-adminsdk-k9ka7-4957cc7703.json
.streamlit
*.db
.idea
*__pycache__*
.DS_Store
client_secret_831342402107-nm00mmgasf8jkkk22igmu7da8grg5p6j.apps.googleusercontent.com.json
